<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<h1>Batalla Espacial</h1>
    <table id='tblJugador'>
        <tr>
            <td id="jA1"></td>
            <td id="jA2"></td>
            <td id="jA3">x</td>
            <td id="jA4">x</td>
            <td id="jA5"></td>
            <td id="jA6"></td>
        </tr>
        <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>        
</body>
</html>